{% extends 'global/base.html' %}

{% block content %}
<div class="single-contact">
    <h1 class="sigle-contact-name">
        {{object.first_name}} {{object.last_name}}
    </h1>

    <p><b>ID:</b> {{object.id}}</p>
    <p><b>E-mail:</b> {{object.email}}</p>
    <p><b>Phone:</b> {{object.phone}}</p>
    <p><b>Created Date:</b> {{object.created_date}}</p>
    <p><b>Description:</b> {{object.description}}</p>
    <p><b>Category:</b> {{object.category.description}}</p>
</div>
{% endblock content %}